.footer {
  background-color: #414141;
  padding: 56px 160px;
}

.flex-row {
  flex-direction: row;
}

.footer-item {
  margin-right: 48px;
  color: #fff;
  display: flex;
  height: 16px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.container {
  padding: 0;
}

.line-chart {
  background-color: #2E2E2E;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0;
}

.wrap-banner {
  width: 33.33%;
}

.image-banner {
  width: 100%;
  height: 300px;
}

.w-100 {
  width: 100%;
}

.wrap-chat {
  width: 66%;
}

.link-header {
  padding: 8px 12px !important;
}